/frontend_diabetrack/DiabeTrack_interface/nbproject/private/
/frontend_diabetrack/DiabeTrack_interface/build/
/frontend_diabetrack/DiabeTrack_interface/dist/
/backend_diabetrack/DiabetrackApplication/nbproject/private/
/backend_diabetrack/diabetrack/target/
