/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 sept 2025, 17:31:37
    Author     : ESDPC
*/
#choiceLanguage {
    -fx-margin: 20 25 0 0; /* alineamos elementos */
    -fx-min-width: 180;
}

#profileImg {
    -fx-margin: 8 25 0 0;
}

.topBar {
    -fx-background-color: linear-gradient(to right, #5d08a5, #ffffff);
    -fx-padding: 10px;
    
}
.comboHbox {
    -fx-spacing: 35; /*separación interna de los elementos*/
    -fx-padding: 0 60 0 0;/*lo empujamos un poco hacia dentro*/
}

.stackContact {
    -fx-background-color: linear-gradient(to left, #5d08a5, #ffffff);
    -fx-padding: 10px;
}

.btnContact {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-underline: true;
    -fx-cursor: hand;
}

.placeholderLabel {
    -fx-text-fill: #888888;
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-padding: 20px;
}

.table-view {
    -fx-background-image: url("/diabetrack_interface/resources/images/calculoback.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;  /* Hace que ocupe todo el área */
    -fx-background-position: center center;
}

.text-field:readonly {
    -fx-opacity: 1.0;                /* Para que NO se vea gris */
    -fx-text-fill: #cccccc;          /* Color suave */
    -fx-background-color: #3B3B3B;   /* Fondo ligeramente distinto */
    -fx-border-color: #7B2CBF;       /* Borde morado coherente */
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
