/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 sept 2025, 11:04:00
    Author     : ESDPC
*/
.text-field, .password-field {
    -fx-background-color: transparent;     /* Fondo transparente */
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: transparent transparent #5A2A83 transparent; 
    /* solo la línea inferior visible, color púrpura (#5A2A83) */
    
    -fx-border-width: 0 0 2 0;  /* grosor de la línea inferior */
    -fx-border-radius: 0;
}

#loginButton {
    -fx-background-color:#5A2A83;
     
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-padding: 6px 18px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-border-color: rgba(93, 8, 165, 1);
    -fx-border-width: 1.5;

    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.25) , 8,0,0,2 );
    -fx-transition: all 0.3s ease;
}
.signupLabel{
    -fx-text-fill:#5A2A83
}
/* efecto hover al pasar el mouse por encima*/
.signupLabel:hover {
    -fx-text-fill: darkcyan;
    -fx-cursor:hand
}
.inputLogin {
    -fx-background-color: white;
    -fx-border-color: #9b4fd9;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6 30 6 10; /* espacio para el icono a la derecha */
}

.inputLogin:focused {
    -fx-border-color: #5d08a5;
}
