/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 sept 2025, 16:12:28
    Author     : ESDPC

*/
/* --- TabPane general --- */


.stepLabel {
    -fx-text-fill: #5d08a5;
    -fx-font-size: 18;
-fx-font-weight: bold;
}
.logoRegistro {
    -fx-pref-width: 242;
    -fx-margin-top: 30
}
.labelRegistroNuevo {
    -fx-margin-top: 30
}
.anchorTab {
    
    -fx-background-color: linear-gradient(to bottom, white, #5d08a5);
}

.vboxData{
    -fx-background-color: white;
    
}   
.emailField  {
    -fx-margin-top: 30
}

.emailField, .passField, .passConf  {
    -fx-background-radius: 15;
-fx-border-radius: 15;
}

.labelRegistroNuevo {
    -fx-text-fill: #5d08a5;
    -fx-margin-top: 30
}

.nextButton {
    -fx-background-color:#7c37b6;
     -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-padding: 6px 18px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-border-color: rgba(93, 8, 165, 1);
    -fx-border-width: 1.5;

    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.25) , 8,0,0,2 );
    -fx-transition: all 0.3s ease;
}

.vboxData2 {
    -fx-padding: 30 0 0 40;
    -fx-background-color: white;
}

.nameTField, .surnameTField, .pesoTfield, .alturaTfield  {
        -fx-background-radius: 15;
-fx-border-radius: 15;
}

.nameLabel, .surnameLabel, .fechaLabel, .genreLabel, .weightLabel, .alturaLabel, .medicalLabel, .tipoDLabel, .yearLabel {
    -fx-text-fill: #5d08a5;
    -fx-font-size: 20;
-fx-font-weight: bold;
    
}


.regLabel {
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-text-fill: #444;
}
